extends ../layout

block content
    section(style='padding:0.4% 0.4% 0.4% 0.4%;')
      h1(style='padding: 0 4%;') 프로필 수정
      form(action=`/users/${user._id}?_method=PUT`, method='POST', style='padding: 0 4%;')
        .form-group
          label(for='name') 이름
          input.form-control(type='text', id='name', name='name', placeholder='이름', value=user.name)
        .form-group
          label(for='email') 이메일
          input.form-control(type='email', id='email', name='email', placeholder='이메일', value=user.email)
        .form-group
          label(for='current_password') 현재 비밀번호
          input.form-control(type='password', id='current_password', name='current_password', placeholder='현재 비밀번호')
        .form-group
          label(for='password') 새 비밀번호
          input.form-control(type='password', id='password', name='password', placeholder='새 비밀번호')
        .form-group
          label(for='password_confirmation') 비밀번호 확인
          input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='새 비밀번호 확인')
        .form-group
          label(for="for me") 나에 대해서
          textarea#editor2(name='content', rows='10', cols='80')=user.content
        .form-group
          label(for='level') 권한설정
          select.form-control(type = 'number', name = 'level', id = 'level')
            option 1
            option 2 
            option 3

        a.btn.btn-outline-secondary(href='javascript:window.history.back();') Back 
        | 
        button.btn.btn-primary(type='submit') 수정하기


    script(type='text/javascript').
      CKEDITOR.config.autoParagraph = false
      CKEDITOR.config.htmlEncodeOutput = false;
      CKEDITOR.config.entities = false;
      CKEDITOR.replace( 'editor2');



