extends ../layout

block content
  section(style='padding:10% 30% 10% 30%;')
    .card
        article.card-body
            h4.card-title.mb-4.mt-1 파트너 등록하기
            form.form-signup(action='/users', method='POST')
                .form-group
                    input.form-control(type='text', id='name', name='name', placeholder='성명')
                .form-group
                    input.form-control(type='email', id='email', name='email', placeholder='이메일')
                .form-group
                    input.form-control(type='password', id='password', name='password', placeholder='비밀번호')
                .form-group
                    input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='비밀번호 확인')
                .form-group
                    input.form-control(type='password', id='guideNum', name='guideNum', placeholder='국외여행인솔자 자격증 뒷자리 4자리')
                button.btn.btn-primary(type='submit') 파트너 등록하기
