.row 
  .col-lm
    .content= tour.content
.row
  .col-lm
    .author
      if tour.author
        | #[span.number.num-likes= tour.numLikes] likes/ 가이드: #[a(href=`/users/${tour.author.id}`)= tour.author.name] 
