extends ../layout

block content
  .container
    h1.main-title #{cart.title} 변경하기
    .container(style="background-color:lightgrey;")
      form(action=`/carts/${cart.id}`, method='post', name='myform', onkeyup='calculate()')
        |  상품명
        input#title(type='text',name = 'title',value = tour.title,readonly='')      
        |  가격
        input#num1(type='text',name = 'price',value = tour.price,readonly='')
        |  인원
        input#num2(type='text',name = 'numpeople')
        |  총가격 
        input#answer(type='text',name = 'totalprice',readonly='')
        button.btn.btn-secondary(type="submit") 예약하기
        

    script(type='text/javascript').
      var form = document.forms.myform,
      price = form.price,
      numpeople = form.numpeople,
      output = form.totalprice;
      window.calculate = function () {
        var q = parseInt(price.value, 10) || 0,
        c = parseFloat(numpeople.value) || 0;
        output.value = (q * c);}
