extends ../layout

include ../includes/_paginate

block content
  .container
    h2.main-title(style='text-align: center;') 예약리스트
    if carts.total <= 0 
      .alert.alert-info 예약한 상품이 없습니다
    else
      .carts
        each cart in carts.docs
          if currentUser && cart.author._id == currentUser.id
            .cart(style='padding:0.4% 30% 0.4% 30%;')
              .card.mb-3(style='max-width: 540px;')
                  .row.no-gutters
                    .col-md-4
                        img.card-img(src='...', alt='...')
                    .col-md-8
                        .card-body
                            p 여행상품:#{cart.title}
                            p 예약인원:#{cart.numpeople}
                            p 예약금액:#{cart.totalprice}
                            a.btn.btn-outline-danger.need-confirm-btn(href=`/carts/${cart.id}?_method=delete`) Delete

          else
            .alert.alert-info 예약한 상품이 없습니다


      +paginate(carts, '/carts', query)

