footer
  hr
  div(style='padding: 0 4%;')
    h4 전화번호:1644-5000
    br
    p 영업시간:09:00-22:00
    p 연중무휴/점심 12:00~13:00
    hr
  div(style='padding: 0 4%;')
    a(href='전자상거래.html',style='color: black;text-decoration: none;') 이용약관
    bnsp
    a(href='마이트립+처리방침.html',style='color: black;text-decoration: none;') 개인정보처리방침
    p
      | 상호명 (주)마이트립 | 대표 김철수 | 개인정보보호책임자 김철수 | 사업자등록번호 xxx-xx-xxxxx 사업자정보확인 | 통신판매업신고번호 xxxx-서울서초-xxxx
    p
      | 주소 서울특별시 중구 세종대로 327, 대종세종타워 18층 | 이메일 help@mytrip.com | 마케팅/제휴 문의 marketing@mytrip.com
